<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
		<div class="login-form">
			<div class="sign-in-htm">
			    <div *ngIf="validateUser" class="alert">
					Access is denied. User is unauthorized.
				</div>

				<div class="group">
					<label for="user" class="label">Username</label>
					<input type="text" id="sign-in-userName" class="input" name="userName" required
					        [(ngModel)]="login.userName" #userName="ngModel" >
				</div>
				<div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
					class="alert">
					<div *ngIf="userName.errors.required">
					Username is required
					</div>
				</div>		

				<div class="group">
					<label for="pass" class="label">Password</label>
					<input type="password" id="sign-in-password" class="input" name="password" required validateEqual="confirmPassword" reverse="true"
					[(ngModel)]="login.password" #password="ngModel"  >
		
				</div>
				<div *ngIf="password.invalid  && (password.dirty || password.touched) " class="alert">			
					<div *ngIf="password.errors.required">
						Password is required
					</div>	
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign In" [disabled]="!enableButton" (click)="authenticate()">
				</div>

				<div class="hr"></div>

				<div class="foot-lnk">
					<a routerLink="/signup" ><font color="white">SIGN UP</font> </a>
				</div>

			</div>
		</div>
	</div>
</div>